@charset "UTF-8";
.u_modal_btn{
    color: grey;
    background-color: #ffffff;
    cursor: pointer;
}
.sub_btn, .unsub_btn {
    all: unset;
    cursor: pointer;
    padding: 7px;
    border-radius: 30px;
    box-sizing: border-box;
}
.sub_btn {
    background-color: #6dd5bc;
    color: #fff;
}
.unsub_btn {
    background-color: #ffffff;
    color: #6dd5bc;
    border: 1px solid #6dd5bc;
}
.modal{
    z-index: 11;
}
.modal_content{
    box-sizing: border-box;
    background-color: #fff;
    width: 600px;
    height: 552px;
    padding: 40px;
}
.mod_form > div{
    display: flex;
    margin-bottom: 16px;
}
.mod_form > div > aside{
    box-sizing: border-box;
    text-align: right;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    width: 152px;
}
.pw {
    display: flex;
    flex-direction: column;
}
.pw > div{
    display: flex;
    margin-bottom: 16px;
}
.pw > div > aside{
    box-sizing: border-box;
    text-align: right;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    width: 152px;
}
.si {
    border: 1px solid #cccccc;
    font-size: 16px;
}
.img_btn{
    all: unset;
    cursor: pointer;
}
.img_btn > img{
    width: 80px;
}
h1{
    font-size: 22px;
}
.img_info{
    margin-top: 46px;
    font-size: 12px;
    color: #6dd5bc;
}
.change_pass{
    all:unset;
    cursor: pointer;
    float: right;
}
.profile_sub{
    all: unset;
    cursor: pointer;
    border: 2px solid #6dd5bc;
    border-radius: 30px;
    padding: 5px 10px;
    float: right;
}
.myHidden{
    display: none!important;
}
.cc {
    border: 1px solid #cccccc;
    width: 300px;
    height: 150px;
}
.cc > button {
    float: left;
    margin: 3px 6px;
    border-radius: 30px;
    background-color: #fff;
}
.cb_i {
    color: #6dd5bc;
    font-size: 12px;
}
.add_proj{
    position: relative;
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}
.add_proj > i {
    cursor: pointer;
    transition: 0.5s;
}
.add_proj:hover > i{
    transform: rotate( 90deg );
    color: #6dd5bc;
}
.add_proj > div {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    transition: 0.5s;
}
.add_proj:hover > div{
    color: #6dd5bc;
}
.mod_name {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}
.f_cnt {
    cursor: pointer;
}
.following_container {
    position: absolute!important;
    width: 519px;
   z-index: 20;
   line-height: inherit!important;
   background-color: #fff;
}
.follower_container {
    position: absolute!important;
    width: 519px!important;
   z-index: 20;
   min-height: inherit!important;
   background-color: #fff;
}
.f_mod_names{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.f_mod_names > h2{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 16px;
}
li {
    padding: 12px 0px;
    display: flex;
}
.f_mod_img_con {
    margin-right: 18px;
}
.f_mod_img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.f_user_nick, .f_user_name{
    font-size: 18px;
}
.f_mod_user_con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.f_mod_btn_con{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cb > .fa-plus {
	color: #cccccc
}

.f_list_container {
	height: 378px;
	overflow: auto;
}
.f_srch{
	width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 8px 0px;
    height: 36px;
    font-size: 16px;
}