#feed{
	height: 100%;
}
.invitationWrap{
	background-color: #fff;
	width: 500px;
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
    border: 3px solid #6dd5bc;
}
.feedContWrap{
	padding: 0px;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.project-thumb{
	width: 200px	
}
.user-thumb{
	width:60px
}
.invitation-meta{
	display:flex;
	align-items:center;
	justify-content: space-around;
}
.invitation-userNick{
	color : #6dd5bc;
	font-size: 18px;
	font-weight: bold;
}
.project-thumb-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}
.invitation-btn-wrap{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-link{
	overflow: hidden;
    display: block;
}
}
.projectTitle{
	all: unset;
    cursor: pointer;
    font-weight: bold;
    color: #6dd5bc;
    font-size: 18px;
}