@charset "UTF-8";

#mainfeed-scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#mainfeed-scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#mainfeed-scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/*  The Modal (background) */
/* ------------ detail ------------- */
#myBoard {
  border: none;
  background: transparent;
  float: right;
  margin-top: 8px;
  margin-left: 10px;
}
.fa-caret-left {
  position: absolute;
  top: 11rem;
}
.fa-caret-right {
  position: absolute;
  top: 11rem;
}

/*댓글 모달창*/
/* 	.comment { */
/* 		height: 23rem !important; */
/* 	} */
.commentModal {
  border: none;
  background: transparent;
  float: right;
  top: -30px;
}
.cmtDt {
  font-size: 13px;
  color: #767676;
  float: right;
}
/* .insertComment {
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	} */
.cmtContent {
  margin-top: 5px;
}
#cmtContent {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 95px 0 15px;
  border: none;
  border-top: 1px solid #efefef;
}
.cmtRegist {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-left: 1px solid #efefef;
}
.cmtRegist:hover {
  color: #6dd5bc;
}
.updateComment {
  display: none;
}
.deleteComment {
  display: none;
}
#delBtn,
#upBtn {
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #767676;
}
#delBtn:hover,
#upBtn:hover {
  color: #6dd5bc;
}
#upBtn {
  width: 77px;
}
#delBtn {
  width: 40px;
}
#contentUpdate {
  border-radius: 3px;
}
.hashtag > a {
  color: #767676;
}
.hashtag > a:hover {
  color: #6dd5bc;
}
.playInfo {
  margin-top: 5px;
}
#needLogin:hover {
  color: #6dd5bc;
}

/* 	.cmtContent > span { */
/* 		color: #6dd5bc; */
/* 	} */
.ht {
  cursor: pointer;
  color: #6dd5bc;
}
/* 	.insertComment { */
/* 		display: block; */
/* 	}	 */
.likeBtnDiv {
	float: right;
}
#searchWord {
	display: none;
    margin: 2%;
    left: 15%;
    font-size: 20px;
}
#searchWord>span {
	font-size: 40px;
    left: 1%;
    color: #6dd5bc;
}
.feedImg {
	cursor: pointer;
}
.moreImg {
    position: absolute;
    z-index: 1;
    margin: 90% 91%;
    color: white;
}