#feedImgWrap img {
    max-height: 600px;
    max-width: 100%;
}
#feedSide{
    right: 20%;
    position: fixed;
    border: 2px solid white;
    background: white;
    width: 270px;
    height: 300px;
}
#feedSideHead{
    border-bottom: 2px solid #e5e5e5;
    line-height: 30px;
}
#feedSideBody{
    line-height: 30px;
}
#feedSideUserImg > img{
    height: 30px;
    width:30px;
    border-radius: 50%;
}
#feedSideBody > tr > td {
    padding-top: 10px;
    text-align: left;
}
#sideNickName{
    line-height: 10px;
}