.alarm-dropdown-wrap{
	border:1px solid #dbdbdb;
	border-top:1px solid #fff;
	width:320px;
	display:inline-block;
	left:64%;
	background-color:#fff;
}
.alarmhidden{
	display:none;
}
.alarm-dropdown-thumb{
	width: 40px;
}
li > article{
	display:flex;
	align-items:center;
}
.ac-usernick{
    color: #6dd5bc;
    font-size: 18px;
}
.alarm-list > li{
	position: relative;
	display: block;
	padding: 12px 12px 30px 12px;
	border-bottom: 1px solid #dbdbdb;
	cursor:pointer;
	box-sizing: border-box;
}
.alarm-list > li:hover{
	background-color: #dbdbdb;
}
.alarm-content{
	font-size: 14px;
	line-height: 18px;
	margin-left: 14px;
}
.alarm-profile-link{
	display:table-cell;
	height:40px;
	cursor:pointer;
}
.alarm-dropdown-thumb{
	vertical-align: middle;
}
.alarm-dropdown-delbtn{
    position: absolute;
    right: 12px;
    bottom: 6px;
    border: none;
    font-weight: 900;
    color: #666;
    background-color: transparent;
}
.dropdown-showmore{
	display: block;
    text-align: center;
    cursor: pointer;
}
.alarm-dropdown-time{
    position: absolute;
    float: left;
    line-height: 14px;
    bottom: 8px;
    left: 12px;
    font-size: 12px;
}
.user-title{
    margin: 6px 0 0;
}
.alarm-list > li > article {
	height: 35px;
}
.alarm-list > li {
	
}
