<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:security="http://www.springframework.org/schema/security"
		xsi:schemaLocation="http://www.springframework.org/schema/security 
							http://www.springframework.org/schema/security/spring-security.xsd
							http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	

	<bean id="bcryptPasswordEncoder" 
		  class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<bean id="loginSuccessHandler" class="com.awethumb.security.LoginSuccessHandler" />	  
	<bean id="loginFailureHandler" class="com.awethumb.security.LoginFailureHandler" />	  
	
	<bean id="myBatisUserDetailsService" class="com.awethumb.security.MyBatisUserDetailsService" />	  
	<security:http> 
		<security:csrf disabled="true" />
<!-- 		<security:intercept-url pattern="/security/user.do" access="hasRole('ROLE_U')" /> -->
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_A')" />
<!-- 		<security:intercept-url pattern="/**" access="permitAll" /> -->
		<security:form-login login-page="/user/login_main.do" username-parameter="userId" 
							 password-parameter="userPass"  
		                     authentication-success-handler-ref="loginSuccessHandler"
		                     authentication-failure-handler-ref="loginFailureHandler" 
		/>
		<security:logout logout-url="/user/logout.do" 
						 logout-success-url="/user/login-main.do"
		                 invalidate-session="true" 
		                 delete-cookies="JSESSIONID" />
		<security:access-denied-handler
	    		error-page="/error/403.do"
		/>
	</security:http>					
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="myBatisUserDetailsService">
			<security:password-encoder ref="bcryptPasswordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>
	


	
	
</beans>
